
* {
  box-sizing: border-box; /* يجعل حساب العرض والارتفاع يشمل الحواف والمسافات الداخلية */
  margin: 0;             
  padding: 0;            
}

body {
  font-family: "Roboto", "Arial", sans-serif; 
  background-color: #0f0f0f;          
  color: #f1f1f1;                    
  overflow-x: hidden;                         /* منع ظهور شريط التمرير الأفقي */
}

.A-header {
    width: 100%;
    height: 50px;
  gap : 20px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px; 
  background-color: #0f0f0f;
  top: 0; /* الالتصاق بأعلى الشاشة */
  z-index: 100; /* لضمان الظهور فوق بقية عناصر الصفحة */
  font-weight:400 ; 
  height: 55px;

}
.A-start {
  display: flex;
  align-items: center;
  gap: 15px;
}

.A-menu{
  background: transparent;
  border: none;
  color: #f1f1f1;
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.A-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
}

.logo-icon {
  color: #ff0000;
  font-size: 30px;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
}

.C-header {
  display: flex;         
  align-items: center;  
  gap: 15px;            
}

.A-avatar {
  width: 30px;                    
  height: 30px;                    
  border-radius: 50%;              
  background-color: #5c2525;      
  color: #ff9999;                
  border: none;                    
  font-weight: bold;              
  cursor: pointer;                 /* تغيير شكل المؤشر إلى يد عند الوقوف عليه */
  display: flex;                   
  align-items: center;             
  justify-content: center;        
}

.A-icon {
  background-color: transparent; 
  border: none;                  
  color: #f1f1f1;       
  width: 40px;                   
  height: 40px;                  
  border-radius: 50%;            
  font-size: 20px;               
  cursor: pointer;               
  display: flex;                 
  align-items: center;           
  justify-content: center;      
}

.A-icon:hover {
  background-color: #3f3f3f; 
}

.A-voice {
  background-color: transparent; 
  border: none;                  
  color: #f1f1f1;      
  width: 40px;                   
  height: 40px;                 
  border-radius: 50%;           
  font-size: 20px;               
  cursor: pointer;               
  display: flex;                 
  align-items: center;           
  justify-content: center;      
}

.A-create {
  background-color: #272727; 
  border: none;                   
  color: #f1f1f1;        
  height: 35px;                    
  padding: 0 15px;                 
  border-radius: 20px;             
  display: flex;                   
  align-items: center;             
  gap: 10px;                        
  cursor: pointer;                 
  font-size: 15px;                 
  font-weight: 500;               
}
.A-create:hover {
  background-color: #3f3f3f; 
}

.B-header {
  flex: 1;                     
  display:flex ;
  max-width: 700px;            
  justify-content: flex-end;   
  margin: 0 20px;              
  align-items: center;
  gap:15px;
}

.A-search {
  display: flex;                   
  align-items: center;             
  background-color: #121212;       
  border: 1px solid #303030; 
  border-radius: 40px;             
  overflow: hidden;                /* قص أي عنصر داخلي يخرج عن الحواف الدائرية */
  width: 100%;                     
  max-width: 600px;                
  height: 50px;               
}

.A-search input {
  background: transparent;   
  border: none;              
  color: #f1f1f1;   
  padding: 0 15px;           
  width: 100%;               
  font-size: 20px;          
  outline: none;             
  text-align: right;    
}    

.A-keyboard {
  background: transparent;   
  border: none;             
  color:#aaa;     
  cursor: pointer;           
  padding: 0 10px;            
  font-size: 15px;           
}

.B-search {
  background-color: #222222;  
  border: none;                          
  border-left: 1px solid #303030; 
  color: #f1f1f1;                
  width: 65px;                            
  height: 100%;                           
  cursor: pointer;                       
  font-size: 15px;                        
  display: flex;                          
  align-items: center;                   
  justify-content: center;               
}

.B-search:hover {
  background-color: #272727; 
}


.A-voice {
  background-color: #222222; 
}

.A-nav{
  display: flex;              
  gap: 15px;                 
  padding: 10px 15px;         
  overflow-x: auto;           
  white-space: nowrap;        
  background-color: #0f0f0f; 
  scrollbar-width: none;      
}

.chip {
  background-color: #272727; 
  color: #f1f1f1;         
  border: none;                    
  padding: 10px 15px;               
  border-radius: 10px;             
  font-size: 15px;                 
  font-weight: 500;                
  cursor: pointer;                 
  transition: background-color 0.2s; 
  flex-shrink: 0;                  
}

.A-chip{
  background-color: #f1f1f1; 
  color: #0f0f0f;            
  border-radius: 10%;
}

.chip:hover {
  background-color: #3f3f3f; 
}